*{
	margin: 0px;
	padding: 0px;
}

body{
	height: 100%;
	font-family: "XinGothic-ZhangYue W6";
	background-attachment:fixed;
	background-size: auto,cover;
	background-image: linear-gradient(to top, rgba(46,49, 65, 0.8), rgba(46, 49, 65, 0.8)),url(../bg.jpg);
}
div{
	margin:0;
	padding: 0;
}
form{
	margin:0;
	padding: 0;
	border: 0px;
}
a{
	text-decoration: none;
}
.width{
	width: 1190px;
	margin: auto;
}
.title{
	display:inline-block;
}
.smalltitle{
	display:inline-block;
	margin-left: 30px;
	margin-top:50px;
	vertical-align: top;
	font-size: 25px;
}
.title h2{
	font-family: "Hakku";
	font-size: 90px;
	color: #8fbf00;
	margin-top:0;
	margin-bottom: 0;
	margin-left: 100px;
}
.smalltitle p{
	margin:0;
	color: #fff;
}
.top{
	width: auto;
	height: 90px;
	padding-bottom:10px;
}
.search{
	position: absolute;
	display: inline-block;
	width: 270px;
	height: 30px;
	border: 1px solid #c3c3c3;
	margin-top:30px;
	margin-left: 250px;
}
.inp{
	display: block;
	height: 30px;
	overflow: hidden;
}

.top .search .inp input{
	width: 270px;
	font-size: 13px;
	height:20px;
	padding: 5px;
}
.top .search .bn{
	position: absolute;
	right: 0;
	top:0;
	width: 30px;
	overflow: hidden;
	/*cursor: pointer;*/
	background: url(../bn.png) 50% 50% no-repeat;
}
.top .search .bn input{
	width: 30px;
	height:30px;
	background: transparent;
	cursor: pointer;
	font-size:0;/*不加这个，搜索图标处会显示提交二字*/
	color:transparent;
	/*verflow: hidden;
	
	*/
}
input{
	outline: none;
	border: none;
}
.main{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}
.dh{
	width: 960px;
	height: 40px;
	background: #2E3141;
}
ul{
	margin:0px;
	list-style-type: none;
	padding: 0px;
}
.dh li{
	display:inline-block;
	float: left;
	width: 96px;
	font-size: 12px;
	color: #fff;
	line-height: 40px;
	text-align: center;
}
.dh li a{
	display:block;
	width:96px;
	height:40px;
	color:#fff;
}
.dh li a:hover{
	background:#83ae00;
	font-weight:bold;
	font-size:14px;
}
.ml div{
	margin-top: 10px;
	margin-left: 10px;
}
.ml a{
	color: #fff;
}
.white{
	color: #fff;
}
a.white:hover{
	color: #83ae00;
	font-weight: bold;
}
.nr{
	display:inline-block;
	width: 636px;
	height: auto;
	margin:10px;
	overflow: hidden;
	background: white;
	vertical-align: top;
	border:2px solid #8fbf00;
	background-color: rgba(255,255,255,0.5);
}
.wz_title{
	width: 636px;
	height: auto;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 10px;
}
.wz_title span{
	font-size: 30px;
	font-weight: bolder;
}
.book{
	display: inline-block;
	background-color: gainsboro;
	margin-left: 120px;
	margin-right: 10px;
}
.writer{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
.time{
	display: inline-block;
	margin-left: 10px;
}
.zw{
	padding:50px;
	border-bottom: 2px dashed gray;
}
.zw p{
	text-indent: 30px;
	margin-bottom: 20px;
}
.indent{
	width: 596px;
	height: auto;
	margin: 20px;
}
.right{
	display: inline-block;
	width: 295px;
	height: auto;
	margin-top: 10px;
}
.musictitle{
	font-size: 30px;
	letter-spacing: 15px;
	text-align: center;
	color: #2E3141;
}
.basicinfo ul li{
	display: inline-block;
	margin-left: 100px;
}
.lyric{
	text-align: center;
}
.xg{
	border:2px solid #8fbf00;
	background-color: rgba(46,49,65,0.6);
}
.xg p{
	width: 255px;
	height:24px;
	margin-bottom: 5px;
}
.xg p a{
	float: left;
	width: 70px;
	height: 24px;
	background: #8fbf00;
	color: #fff;
	text-align: center;
	line-height: 24px;
	font-size: 12px;
}
.xg ul li{
	margin-bottom: 3px;
}
span.phxz{
	display: inline-block;
	width: 18px;
	height: 20px;
	text-align: center;
	background:#8fbf00;
	color: #2E3141;
}
section.last{
	border-top: 1px solid darkgray;
}
.bottom{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}
.bottom p{
	margin: 0px;
}
@font-face {
font-family: 'Hakku'; 
src:
url('../font/白舟·白雨.ttf');
} 
@font-face {
font-family: 'XinGothic-ZhangYue W6'; 
src:
url('../font/信黑体 W6.ttf');
} 